{% include "base.html" %}

<body>
    <div id="content", name="content">
        {% block content %}
            <ul>
                {% for item in item_list %}
                    <li>Item Name: {{item.item_name}}</li>
                    <li>Item Description: {{item.item_description}}</li>
                    <li>Item Price: {{item.item_price}}</li>
                    <li>Item Rating: {{item.item_rating}}</li>
                    <li>Item Reviews: {{item.item_reviews}}</li>
                    <br>
                    
                {% endfor %}
            </ul>
        {% endblock %}
    </div>
</body>